<f:layout name="Default" />

<f:section name="Title">A list of news</f:section>

<f:section name="Content">
	<f:if condition="{myNews}">
		<f:then>
			<div class="">
				<table class="table">
					<f:for each="{myNews}" as="news">
						<tr>
							<td>
								<f:link.action action="show" arguments="{news: news}">{news.title}</f:link.action>
							</td>
							<td>
								<f:link.action action="edit" arguments="{news: news}">Edit</f:link.action>
							</td>
							<td>
							<f:form action="delete" arguments="{news: news}">
								<f:form.submit value="Delete" />
							</f:form>
							</td>
						</tr>
					</f:for>
				</table>
			</div>
		</f:then>
		<f:else>
			<p>No news created yet.</p>
		</f:else>
	</f:if>
	<p class="btn btn-default"><f:link.action action="new">Create a new news</f:link.action></p>
</f:section>